@charset "utf-8";
/* CSS Document */
*{ margin:0px; padding:0px;}
.big{ width:100%; height:300px; background:#D8CBFF;}
.con{ width:760px; height:300px;  margin: 0 auto; position:relative;}
.pic{ width:760px; height:300px;}
.pic img{ width:760px; height:300px; position:absolute; display:none;}
.list{ list-style:none; width:112px; height:10px; padding:5px 4px; background: rgba(0,0,0,0.5); border-radius:11px; position:absolute; bottom:15px; left:320px;}
.list li{ float:left; width:8px; height:8px; border: solid 1px #00FFFF; border-radius:5px; margin:0 3px;} 
.list .active{ background:#00F;}
.but li{ width:50px; height:70px; background:rgba(0,0,0,.0); list-style:none; color:#0FF; font-size:34px; text-align:center; line-height:70px; position:absolute; top:115px; display:none; cursor:pointer;}
.but .left{ left:10px;}
.but .right{ right:10px;}
.but li:hover{ background:rgba(0,0,0,0.2);}
.con:hover .but li{ display:block;}